<h3 class="fw-bold">API 3</h3>

<form [formGroup]="editForm" (submit)="onSubmit()" class="row d-flex rounded-4 flex-column bg-body-tertiary p-3">
  <div class="col my-2">
    <label class="fw-bold">Offerta di Lavoro ID</label>
    <input formControlName="offertaLavoroID" class="form-control" type="text">
    <div *ngIf="isInvalid('offertaLavoroID')" class="error-message">
      Offerta di lavoro ID è invalido (Campo obbligatorio, Deve essere un numero).
    </div>
  </div>

  <div class="col my-2">
    <label class="fw-bold">Titolo</label>
    <input formControlName="titolo" class="form-control" type="text">
    <div *ngIf="isInvalid('titolo')" class="error-message">
      Il titolo è invalido (Minimo 1 carattere. Campo obbligatorio).
    </div>
  </div>

  <div class="col my-2">
    <label class="fw-bold">Breve descrizione</label>
    <input formControlName="descrizioneBreve" class="form-control" type="text">
    <div *ngIf="isInvalid('descrizioneBreve')" class="error-message">
      La descrizione è invalida (Minimo 1 carattere, massimo 255. Campo obbligatorio).
    </div>
  </div>

  <div class="col my-2">
    <label class="fw-bold">Data di inserimento</label>
    <input formControlName="dataInserimento" class="form-control" type="date">
    <div *ngIf="isInvalid('dataInserimento')" class="error-message">
      La data è invalida (Campo obbligatorio, Controlla la validità della data).
    </div>
  </div>

  <div class="col my-2">
    <label class="fw-bold">Retribuzione Lorda</label>
    <input class="form-control" formControlName="retribuzioneLorda" step="0.25" type="number">
    <div
      *ngIf="isInvalid('retribuzioneLorda')" class="error-message">
      La retribuzione lorda è invalida (Valore minimo: 1, Campo obbligatorio, Solo valori numerici).
    </div>
  </div>

  <div class="col my-2">
    <button [disabled]="editForm.invalid" class="btn btn-primary" type="submit">Aggiorna offerta offerta di lavoro
    </button>
  </div>


</form>


<!-- Stili CSS per gli errori -->
<style>
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
</style>
