<h3>API 1</h3>

<div class="container">
  <div class="row">
    <div class="col-5">
      <label for="input">Inserisci il numero massimo di richieste che si desidera visulizzare:</label>
      <input id="input" [formControl]="maxRichieste" class="form-control" type="number">
      <div *ngIf="isInvalid()" class="error-message mb-4">
        Offerta di lavoro ID è invalido (Campo obbligatorio, Deve essere un numero).
      </div>
    </div>
  </div>
</div>


<div *ngIf="offerte$ | async as richieste; else loading" class="row row-cols-3">
  <div *ngFor="let richiesta of richieste" class="col">
    <app-auti-card [data]="richiesta"></app-auti-card>
  </div>
</div>
<ng-template #loading>
  <div class="position-absolute fw-bold d-flex justify-content-center align-items-center p-4" style="top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; aspect-ratio: 1/1; background-color: aquamarine">Loading...</div>
</ng-template>


<!-- Stili CSS per gli errori -->
<style>
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
</style>

