.nav {
  background: rgb(175, 175, 175);
  background: linear-gradient(180deg, rgb(204, 204, 204) 0%, rgba(255, 255, 255, 1) 100%);
}

.active {
  background-color: #ffc3c3 !important;
  color: black;
}
