<div class="row m-0 p-0 p-2 px-4 nav">
  <div class="col d-flex align-items-center flex-wrap" style="gap: 15px">
    <div class="col">
      <span class="fw-bold fs-4">
        Matteo Scanferla
      </span>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" routerLink="api1Esame">Tutte le offerte</a>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" routerLink="api2Esame">Crea nuova offerta</a>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" routerLink="api3Esame">Aggiora offerta</a>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" routerLink="api4Esame">Elimina offerta</a>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" routerLink="api5Esame">Filtra offerte</a>
    </div>

  </div>
</div>

<form></form>
